[submodule "modules/crashlogger"]
	path = modules/crashlogger
	url = https://github.com/g-rin/crashlogger
[submodule "modules/libbacktrace"]
	path = modules/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace
